$background: hsl(240 5% 6%);
$foreground: hsl(60 5% 90%);
$primary: hsl(240 0% 90%);
$primaryForeground: hsl(60 0% 0%);
$secondary: hsl(240 4% 15%);
$secondaryForeground: hsl(60 5% 85%);
$accent: hsl(240 0% 13%);
$accentForeground: hsl(60 0% 100%);
$destructive: hsl(0 60% 50%);
$destructiveForeground: hsl(0 0% 98%);
$muted: hsl(240 5% 25%);
$mutedForeground: hsl(60 5% 85%);
$card: hsl(240 4% 10%);
$cardForeground: hsl(60 5% 90%);
$popover: hsl(240 5% 15%);
$popoverForeground: hsl(60 5% 85%);
$border: hsl(240 6% 20%);
$input: hsl(240 6% 20%);
$ring: hsl(240 5% 90%);

